.hero-section-container-bg{
  justify-content: end;
  width: 100%;
}
.hero-section-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  /* flex-direction: row-reverse; */
  justify-content: end;
}
.hero-section-background {
  z-index: -1;
  width: 60%;
  height: auto;
  position: absolute;
  /* top: 100px; */
  right: 0px;
}
.hero-section-content {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto 0;
  vertical-align: middle;
}
.hero-section-content h1 {
  font-size: 44px;
}
.hero-section-button-link .hero-section-button {
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 50px;
  width: 100%;
  background-color: #2856d3;
  color: white;
  margin-top: 50px;
  height: 65px;
  font-size: 20px;
  /* align-self: end; */
}
.hero-section-button-link{
   align-self: end;
   width: 50%;
}
@media screen and (max-width: 700px) {
  .hero-section-container {
    height: auto;
    justify-content:center;
  }
  .hero-section-container-bg{
    background-color: #eff8ff;
    padding-bottom: 30px;
  }
  .hero-section-background{
    display: none;
  }
  .hero-section-content{
    align-items: center;
    text-align: center;
  }
  .hero-section-button-link .hero-section-button{
    align-self: center;
    background-color: #eff8ff;
    color: #2856d3;
    font-size: 18px;
    border: 3px solid #2856d3;
    width: 100%;
  }
  .hero-section-button-link{
    width: 100%;
  }
  h1{
    /* font-size: 24px; */
    /* letter-spacing: -4px; */
  }
}
@media screen and (min-width: 700px) {

  .hero-section-button a{

    color: white;

  }

}
