
.about-us-info {
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: -380px;
  width: 80%;
}
.about-us-inner-info {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.send-resume-button {
  width: 190px;
  height: 40px;
  background-color: white;
  border: 2px solid black;
  border-radius: 50px;
  color: black;
}
@media screen and (max-width: 1400px) {
  .about-us-info {
    position: static;
    margin-top: 0px;
    gap: 0;
    padding-bottom: 50px;
    
  }
  .about-us-inner-info{
    margin-top: 0;
    gap: 0;
  }
  .about-us-container{
    margin-top: 80px;
  }
}
@media screen and (max-width: 700px) {
  a .send-resume-button {
    width: 100%;
  color: black;
  }
  .send-resume-button-link{
    width: 100%;
    margin-top: 30px;
    color: black;
  }
  .about-us-info {
    -webkit-text-stroke: 0.2px black;
    line-height: 28px;
    
  }
}