.footer-container{
    width: 100%;
    height:100%;
    display: flex;
}
.footer-address-row{
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}
.footer-gradient{
    width: 80%;
    height:80%;
    /* padding-top: 5%; */
    margin: 0 auto;
    background: rgb(235,238,243);
    background: linear-gradient(180deg, rgba(235,238,243,1) 0%, rgba(255,255,255,1) 100%);
    border-radius: 50px;
    justify-content: space-around;
    align-self: end;
}

.footer-address-row a{
    text-decoration: none;
}
.footer-social-row , .footer-licenses-row{
    width: 100%;
    justify-content: center;
    align-items: center;

}
.footer-social-item{
    background-color:#294FCD;
    display: flex;
    height:25px;
    width: 25px;
    margin: auto;
    padding: 7px;
    border-radius: 50%;
}
.footer-social-icon{
    width: 18px;
    height:auto;
    margin: auto;
}
.footer-line{
    width: 60%;
    height:1px;
    background-color: #c2c3c5;
    margin: 0 auto;
}
.footer-address-icon-background{
    background-color: white;
    width: 100px;
    display: flex;
    border-radius: 10px;
}
.footer-address-icon{
    margin: auto;
    padding: 15px;
}
.footer-address-item{
    /* display: flex; */
    align-items: center;
}

/* .footer-container{
    padding: 4% 10%;
    background-color: #294FCD;
    width: 100%;
    height: 40%;
    color: white;
    justify-content: space-between;
    display: flex;
    align-self: end;
}
.footer-news , .footer-address{
    width: 35%
}
.footer-container h2{
    margin: 0;
}
.footer-first-row{
    width: 100%;
    justify-content: space-between;
}

.footer-second-row{
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.footer-address p{
margin: 0 5px;
}
.address a{
    margin: 10px 0;
align-items: center;
color: white;
text-decoration: none;
}
.address a:first-child{
    align-items: baseline;
}
.social-media-div{
width: 15%;
justify-content: space-between;
}
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px ;
}
.social-media a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.line-div{
    height: 1px;
    width: 80%;
    background-color: white;
}
.footer-third-row p{
    display: flex;
    justify-content: start;
    font-size: 12px;
}
.footer-license{
    width: 100px;
    background-color: white;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;   
     
}
.footer-licenses{
    width: 18%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
     
} */