.footer-container{
    /* padding-top: 200px; */
    /* margin-top: 300px; */
    width: 100%;
    height:100%; 
    /* height: calc(100vh-100px); */
    display: flex;
    font-family: 'iransans light';
    background: rgb(235,238,243);
    background: linear-gradient(180deg, rgba(235,238,243,1) 0%, rgba(255,255,255,1) 100%);
    justify-content: space-between;
}
.footer-address-row{
        padding-top: 200px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}


.footer-address-row a{
    text-decoration: none;
}
.footer-social-row , .footer-licenses-row{
    width: 100%;
    justify-content: center;
    align-items: center;

}
.footer-social-item{
    background-color:#294FCD;
    display: flex;
    height:25px;
    width: 25px;
    margin: auto;
    padding: 7px;
    border-radius: 50%;
}
.footer-social-icon{
    width: 18px;
    height:auto;
    margin: auto;
}
.footer-line{
    width: 60%;
    height:1px;
    background-color: #c2c3c5;
    margin: 0 auto;
}
.footer-address-icon-background{
    background-color: white;
    width: 100px;
    display: flex;
    border-radius: 10px;
}
.footer-address-icon{
    margin: auto;
    padding: 15px;
}
.footer-address-item{
    /* display: flex; */
    align-items: center;
}
