@font-face {
  font-family: "irancell bold";
  src: url("./assets/fonts/MTNIrancell-Bold.ttf");
}

@font-face {
  font-family: "irancell light";
  src: url("./assets/fonts/MTNIrancell-Light.ttf");
}
@font-face {
  font-family: "irancell extra light";
  src: url("./assets/fonts/MTNIrancell-ExtraLight.ttf");
}
button{
  font-family: "irancell bold";  
}
body {
  direction: rtl;
  margin: 0;
  font-family: "irancell bold";
  overflow-x: hidden;
}


h1{
  font-family: "irancell bold";
  font-size: 44px;
  color: #2856d3;
}
h2{
  font-family: "irancell bold";
  font-size: 30px;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.services-products-text-below{
  font-family: "irancell extra light";  
}
p{
  font-family: "irancell light";
  font-size: 18px;
}